<header>
  <h1>ManutControl</h1>
  <nav *ngIf="(api.authState$ | async); else loginOnly">
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/equipamentos" routerLinkActive="active">Equipamentos</a>
    <a routerLink="/planos" routerLinkActive="active">Planos</a>
    <a routerLink="/execucoes" routerLinkActive="active">Execuções</a>
    <button (click)="logout()">Sair</button>
  </nav>
  <ng-template #loginOnly>
    <nav>
      <a routerLink="/login" routerLinkActive="active">Login</a>
    </nav>
  </ng-template>
</header>

<main>
  <router-outlet></router-outlet>
</main>
